svg {
  height: 20px;
  padding: 2px;
  fill: none;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2px;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}